StockMarketSimulator.module/Schemas/tradeExecution.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.tibco-bw.org/StockMarketInterface/TradeExecution"
	 targetNamespace = "http://www.tibco-bw.org/StockMarketInterface/TradeExecution"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "1.0"
	 elementFormDefault = "qualified">
	<xsd:element name = "tradeExecution">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "tradeId"/>
				<xsd:element ref = "custOrderId"/>
				<xsd:element ref = "isPartialExecution"/>
				<xsd:element ref = "secCode"/>
				<xsd:element ref = "buySell"/>
				<xsd:element ref = "volume"/>
				<xsd:element ref = "executionPrice"/>
				<xsd:element ref = "executionDate"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "custOrderId" type = "xsd:string"/>
	<xsd:element name = "isPartialExecution" type = "xsd:boolean"/>
	<xsd:element name = "volume" type = "xsd:integer"/>
	<xsd:element name = "executionPrice" type = "xsd:decimal"/>
	<xsd:element name = "secCode" type = "xsd:string"/>
	<xsd:element name = "executionDate" type = "xsd:dateTime"/>
	<xsd:element name = "tradeId" type = "xsd:string"/>
	<xsd:element name = "buySell" type = "xsd:string"/>
</xsd:schema>