OrderManager.module/Schemas/mktOrder.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.tibco-bw.org/StockMarketInterface/mktOrder"
	 targetNamespace = "http://www.tibco-bw.org/StockMarketInterface/mktOrder"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "1.0"
	 elementFormDefault = "qualified">
	<xsd:element name = "mktOrder">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "custOrderId"/>
				<xsd:element ref = "custId"/>
				<xsd:element ref = "buySell"/>
				<xsd:element ref = "secCode"/>
				<xsd:element ref = "volume"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "buySell" type = "xsd:string"/>
	<xsd:element name = "secCode" type = "xsd:string"/>
	<xsd:element name = "volume" type = "xsd:integer"/>
	<xsd:element name = "custOrderId" type = "xsd:string"/>
	<xsd:element name = "custId" type = "xsd:string"/>
</xsd:schema>