OrderManager.module/Schemas/stockPriceReply.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.tibco-bw.org/StockMarketInterfacer/StockPriceReply"
	 targetNamespace = "http://www.tibco-bw.org/StockMarketInterfacer/StockPriceReply"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "1.0"
	 elementFormDefault = "qualified">
	<xsd:element name = "stockPriceReply">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ccy" minOccurs = "0"/>
				<xsd:element ref = "lastPrc" minOccurs = "0"/>
				<xsd:element ref = "replyStatus"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ccy" type = "xsd:string"/>
	<xsd:element name = "lastPrc" type = "xsd:decimal"/>
	<xsd:element name = "replyStatus" type = "xsd:integer"/>
</xsd:schema>